
@model Veterinaria.DAL.Mascota

@{
    ViewData["Title"] = "Detalles de la Mascota";
}

<h1>Detalles de la Mascota</h1>

<div>
    <h4>Mascota</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Especie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Especie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Raza)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Raza)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Edad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dueño)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dueño)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Padecimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Padecimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImagenMascota)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImagenMascota)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdMascotas" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
</div>
